{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

<div class="container">
<h1 class="mb-5 text-center"> Bienvenu sur notre site </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eum, dolor animi repellendus laborum ut, itaque omnis alias odit dicta minima natus optio excepturi, illo reiciendis labore iusto nisi esse distinctio a ratione sed. Possimus animi sed vero dolore! Facilis facere eligendi, suscipit ex quis corrupti tenetur, iusto aliquid nam ipsa veritatis aperiam sint dolorum sit eum vero? Quas vitae aut adipisci. Neque, nemo nisi soluta consequuntur non eius sapiente doloribus iusto ex expedita dolore saepe officiis iste doloremque sit aspernatur quidem, modi voluptates nesciunt suscipit in maiores laudantium! Voluptate quos fugit qui enim dolore, quibusdam similique dignissimos, sunt nihil deleniti, quidem reprehenderit? Sequi placeat enim modi dolorem pariatur ea odit non, nemo voluptatibus animi earum aperiam facilis quam exercitationem dolore? Incidunt itaque aliquam consectetur quam, dolor explicabo nisi veniam atque et accusamus cupiditate. Magnam iure hic saepe tempore. Facilis quis possimus aut, atque a commodi ipsam saepe in?</p>



</div>

{% endblock %}
